*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 26px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: rgb(92, 90, 90);
    margin: 15px 0 20px 0;
}



.section-p1{
    margin: 40px 80px;

}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


body {
    width: 100%;
}

.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    /* border: 3px solid white; */
    border-radius: 50px;
}

.img1{
    width: 20%;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}


#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(131, 189, 98);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(131, 189, 98);
    position: absolute;
    bottom:-4px;
    left: 20px;
}


#hero{
    background-image: url("img/hero4.png");
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: rgb(131, 189, 98);
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: rgb(131, 189, 98);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.0.3);
    border: 1px solid #cce7d0 ;
    border-radius: 4px;
    margin: 15px 0;
}


#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.3);
}


#feature .fe-box h6 img{
    width: 100%;
    margin-bottom: 10px;
}



#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(131, 189, 98);
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}


#product1 .pro .des span{
    color: #868686;
    font-size: 15px;
}


#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 18px;
}

#product1 .pro .des i{
    font-style: normal;
    color: gold;
    font-size: 24px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 19px;
    font-weight: 700;
    color: rgb(131, 189, 98);
}


#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 60px;
    font-weight: 500;
    color: rgb(131, 189, 98);
    font-style: normal;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


#product1 .pro a{
    text-decoration: none;
}


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 18px;
}

#banner h2{
    color: white;
    font-size: 36px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}


#banner button:hover{
    background-color: rgb(131, 189, 98);
    color: white;
}






